/*
  Add all typographic parameters for the actual text

  Default supported follows:

  - Golden ratio: 1.618
  - Default baseline grid of 10px
  - Basic font size of 16px

  6.111, 9.888, 10, 16, 16.18, 25.888, 26.179, 41.886, 42.358

*/

/* Font sizes and dimensions - large screens */

$stream-default-font: 16px;
$stream-default-lineheight: 1.618em; // 25.888

$stream-h1: 2.617em; // 41.886
$stream-h1-weight: 100;
$stream-h1-lineheight: 1.011em; // 42.358

$stream-h2: 1.618em; // 25.888
$stream-h2-weight: normal;
$stream-h2-lineheight: 1.011em; // 26.179

$stream-h3: 1.618em; // 25.888
$stream-h3-weight: 300;
$stream-h3-lineheight: 1.011em; // 26.179

$stream-h4: 1.011em; // 16.18
$stream-h4-weight: bold;
$stream-h4-lineheight: 1em;


$stream-lineheight: 1.618em; // custom line-height used only within a stream



/* Font sizes and dimensions - Small screens

Default supported follows:

- ratio: 2
- Default small baseline grid of 14px
- Basic font size of 24px

6,7,14,24,28,48,56

*/

$small-stream-default-font: 24px;
$small-stream-default-lineheight: 1.25em;

$small-stream-h1: 2em; // 48
$small-stream-h1-weight: 100;
$small-stream-h1-lineheight: 1.166em; // 56

$small-stream-h2: 1.166em; // 28
$small-stream-h2-weight: normal;
$small-stream-h2-lineheight: 1.714em; // 48

$small-stream-h3: 1.166em; // 28
$small-stream-h3-weight: 300;
$small-stream-h3-lineheight: 1.714em; // 48

$small-stream-h4: 1em; // 24
$small-stream-h4-weight: bold;
$small-stream-h4-lineheight: 1.166em; // 28


$small-stream-lineheight: 1.618em;
