<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your <%- date %> <%- application.name || application.id %> forum digest</title>
  <!--STYLE.SCSS-->
  </head>
<body>
  <table cellpadding="0" cellspacing="0" border="0" class="maincontainer">
    <tr>
      <td height="50">
      </td>
    </tr>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" class="maincontent">
          <tr>
            <td class="contentheader">
              Your <%- application.name || application.id %> forum digest
            </td>
          </tr>
          <tr>
            <td class="content-sumactivity content-head">
              Hello,there are updates on <b><%- streams.length %> streams</b> you watch since your last visit.
            </td>
          </tr>
          <% _.each(streams, function(value, key) { %>
          <tr>
            <td class="contentitem">
              <h5><a href="<%- getShareURL(value.document.parent) %>" class="external-link"><%- value.document.header %><span class="tagname"></span></a></h5>
              <p class="content-description"><%- value.document.body %></p>
              <% if (value.replies) { %>
              <span class="disclaimeritem">and <%- value.replies %> more replies</span>
              <% } %>
            </td>
          </tr>
          <% }); %>
          <tr>
            <td class="content-footer content-sumactivity">
              There could be something else of importance at <b><%- application.name || application.id %> forum</b>, so <a href="<%- application.fullpage_url %>" class="external-link">drop a visit</a>!
            </td>
          </tr>
          <tr>
            <td class="content-footer contentinfo" align="right">
              <a href="https://fruum.github.io">powered by fruum</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="footer-disclaimer">
        I don't want to receive this email and <a href="<%- application.fullpage_url %>" class="external-link">will stop watching all <%- application.name || application.id %> threads</a>.
      </td>
    </tr>
    <tr>
      <td height="50">
      </td>
    </tr>
  </table>
</body>
</html>
