<!-- breadcrumb template -->
<script type="text/template" id="fruum-template-breadcrumb">
  <div <% if (viewing.id && !searching && breadcrumb.length) { %>data-onboard="breadcrumb"<% } %> >
    <% if (!viewing.id) { %>
    <% } else if (searching) { %>
    <div class="fruum-navigation-item fruum-link fruum-icon fruum-icon-left fruum-js-search-close" >
      back
    </div>
    <% } else if (breadcrumb.length) { %>
    <div class="fruum-navigation-item fruum-link fruum-icon fruum-icon-left fruum-js-navigate" data-id="<%- breadcrumb[breadcrumb.length - 1].id %>" >
      back to <%= Fruum.utils.printHeader(breadcrumb[breadcrumb.length - 1].header) %>
    </div>
    <% } %>
  </div>
</script>
