<!-- channel template -->
<script type="text/template" id="fruum-template-channel">
  <div class="fruum-base-object fruum-base-object-compact fruum-js-entry-default">
    <div class="fruum-object-main-data<% if (Fruum.user.admin || (Fruum.user.id == user_id && !Fruum.user.anonymous)) { %> fruum-object-manage-data<% } %>">
      <a class="fruum-link fruum-topic-title fruum-js-navigate">
        <% if (!visible) { %>
        <span class="fruum-icon fruum-icon-invisible" data-fruumtipsy-left="Private channel"></span>
        <% } %>
        #<%= Fruum.utils.printHeader(header) %>

      <span class="fruum-secondary-data">
        , <span data-channel-members="<%- id %>"><%- online[id] || 0 %></span> members online

        <span class="fruum-badge fruum-badge-info" data-fruumtipsy-right="New messages" style="display: none;" data-info-id="<%- id %>">!</span>

      </span>
    </div>
    <% if (Fruum.user.admin) { %>
    <div class="fruum-manage fruum-js-manage">
      <a href="javascript:;" class="fruum-link fruum-manage-close fruum-icon fruum-icon-close"></a>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit channel"></a>
      <a href="javascript:;" class="fruum-link fruum-link-negative fruum-icon fruum-icon-delete" data-action="delete" data-fruumtipsy-right="Delete channel"></a>
    </div>
    <% } else if (Fruum.user.id == user_id && !Fruum.user.anonymous) { %>
    <a href="javascript:;" class="fruum-manage fruum-link fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit channel"></a>
    <% } %>
  </div>
</script>
