<!-- channel template -->
<script type="text/template" id="fruum-template-channel">
  <div data-docid="<%- id %>" class="fruum-base-object fruum-link fruum-interactive-element fruum-js-entry-default fruum-js-navigate">
    <div class="fruum-object-main-data<% if (Fruum.user.admin || (Fruum.user.id == user_id && !Fruum.user.anonymous)) { %> fruum-object-manage-data<% } %>">
      <div class="fruum-stream-typography">
        <h4>
          <a href="<%- Fruum.utils.permaLink(id) %>" class="fruum-link">
            <% if (!visible) { %>
            <span class="fruum-icon fruum-icon-invisible" data-fruumtipsy-left="Private channel"></span>
            <% } %>
            #<%= Fruum.utils.printHeader(header) %>

            <span class="fruum-secondary-data">
              , <span data-channel-members="<%- id %>"><%- online[id] || 0 %></span> members online

              <span class="fruum-badge fruum-badge-info" data-fruumtipsy-right="New messages" style="display: none;" data-info-id="<%- id %>">!</span>

            </span>
          </a>
        </h4>
      </div>
    </div>
    <% if (Fruum.user.admin) { %>
    <div class="fruum-manage fruum-interaction-item fruum-js-manage">
      <a href="javascript:;" class="fruum-link fruum-manage-close fruum-icon fruum-icon-close"></a>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit channel"></a>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-left" data-action="move" data-fruumtipsy-right="Move to category"></a>
      <a href="javascript:;" class="fruum-link fruum-link-negative fruum-icon fruum-icon-delete" data-action="delete" data-fruumtipsy-right="Delete channel"></a>
    </div>
    <% } else if (Fruum.user.id == user_id && !Fruum.user.anonymous) { %>
    <a href="javascript:;" class="fruum-manage fruum-link fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit channel"></a>
    <% } %>
  </div>
</script>
