<!-- counters template -->
<script type="text/template" id="fruum-template-counters">
  <div class="fruum-item-actions">
<% if (!hide_actions) { %>
    <a href="javascript:;" class="fruum-icon fruum-icon-copy" data-action="share" data-fruumtipsy-left="copy link"></a>
  <% if (!Fruum.user.anonymous && viewing.type !== 'channel' && viewing.type !== 'bookmark') { %>
    <% if (Fruum.userUtils.isWatching(viewing.id)) { %>
    <a href="javascript:;" class="fruum-icon fruum-icon-watch" data-action="unwatch" data-fruumtipsy="stop watching"></a>
    <% } else { %>
    <a href="javascript:;" class="fruum-icon fruum-icon-visible" data-action="watch" data-fruumtipsy="watch"></a>
    <% } %>
  <% } %>
<% } %>
  </div>
  <div class="fruum-section-nav">
    <span class="fruum-section-nav-link fruum-icon fruum-icon-up fruum-js-filter-up"></span>
    <span class="fruum-section-counts"><b><%- viewing_from %>-<%- viewing_to %></b>/<%- total_entries %></span>
    <span class="fruum-section-nav-link fruum-icon fruum-icon-down fruum-js-filter-down"></span>
  </div>
</script>
