<!-- interactions (bottom part) -->

<!-- Shortcuts help -->
<script type="text/template" id="fruum-template-interactions-help">
  <div class="fruum-helper-container fruum-js-help" style="display: none;">
    <div class="fruum-helper-close fruum-icon fruum-icon-close fruum-link fruum-link-secondary" data-action="help"></div>
    <div class="fruum-helper-element">
      <b class="fruum-helper-shortcut"><%- Fruum.utils.shortcutModifier('b') %></b>
      <b>Bold text</b>
    </div>
    <div class="fruum-helper-element">
      <b class="fruum-helper-shortcut"><%- Fruum.utils.shortcutModifier('i') %></b>
      <i>Italic text</i>
    </div>
    <div class="fruum-helper-element">&nbsp;</div>
    <div class="fruum-helper-element">
      For text formatting we use the <a href="http://www.wikiwand.com/en/Markdown" class="fruum-link" target="_blank">Markdown format</a>. Please check it out to see all supported styling.
    </div>
  </div>
</script>

<!-- User avatar -->
<script type="text/template" id="fruum-template-interactions-avatar">
  <div class="fruum-user-account">
    <span class="fruum-link <% if (!Fruum.userUtils.countNotifications()) { %>fruum-link-disabled<% }%> fruum-account-settings fruum-js-avatar-container" <% if (Fruum.userUtils.countNotifications()) { %>data-fruumtipsy-right="Updates on topics I watch"<% } %> data-fruumtipsy-original="Updates on topics I watch">
      <% if (Fruum.utils.isLink(Fruum.user.avatar)) { %>
      <img src="<%= Fruum.user.avatar %>" class="fruum-avatar-icon fruum-js-show-notifications" width="56"/>
      <% } else { %>
      <span
        class="fruum-avatar-icon fruum-js-show-notifications"
        data-initials="<%- Fruum.utils.getInitials(Fruum.user.displayname) %>">
        <%- Fruum.utils.getInitials(Fruum.user.displayname) %>
      </span>
      <% } %>
      <% if (Fruum.userUtils.countNotifications()) { %>
      <span class="fruum-badge fruum-js-show-notifications" data-field="notifications"><%= Fruum.userUtils.countNotifications() %></span>
      <% } else { %>
      <span class="fruum-badge fruum-js-show-notifications" data-field="notifications" style="display:none;"></span>
      <% } %>
    </span>
  </div>
</script>

<!-- Messages -->
<script type="text/template" id="fruum-template-interactions-messages">
  <div class="fruum-interaction-messages">
    <div class="fruum-messages fruum-message-error" style="display: none;">
      Could not submit your request, please try again
    </div>
  </div>
</script>

<!-- Search mode -->
<script type="text/template" id="fruum-template-interactions-searching">
  <div class="fruum-interactions-footer">
    <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-avatar')() %>
  </div>
</script>

<!-- Edit/Add category -->
<script type="text/template" id="fruum-template-interactions-edit-category">
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-messages')() %>
  <input type="hidden" data-field="type" value="category" class="fruum-js-interacting" />
  <input type="hidden" data-field="parent" value="<%- editing.id?editing.parent:viewing.id %>" />
  <form action="" class="fruum-interactions-form">
    <div class="fruum-base-object fruum-base-object-compact">
      <div class="fruum-avatar">
        <span class="fruum-avatar-icon" data-initials="<%- Fruum.utils.printInitials(editing.initials) %>">
          <input
            type="text" name="category-initials" maxlength="3"
            class="fruum-interactions-input fruum-interactions-edit-avatar"
            data-field="initials" value="<%- editing.initials || '' %>" />
        </span>
      </div>
      <div class="fruum-object-main-data">
        <input
          type="text"
          class="fruum-interactions-input fruum-category-title"
          placeholder="Category name..." data-field="header"
          value="<%- editing.header || '' %>"/>
        <span>
          <textarea
            autocomplete="off"
            class="fruum-interactions-input fruum-secondary-data"
            placeholder="it's about..."
            data-field="body"><%= editing.body || '' %></textarea>
        </span>
      </div>
    </div>
    <div class="fruum-interactions-footer">
      <div class="fruum-interactions-buttons fruum-interactions-group">
        <% if (editing.id) { %>
        <button class="fruum-secondary-button" data-action="post">Edit</button>
        <% } else { %>
        <button class="fruum-secondary-button" data-action="post">Add</button>
        <% } %>
        <a class="fruum-secondary-button fruum-link-negative" data-action="cancel">cancel</a>
      </div>
      <div class="fruum-user-account">
        <span
          class="fruum-helper-action"
          data-action="help"
        >?</span>
      </div>
    </div>
  </form>
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-help')() %>
</script>

<!-- Edit/Add thread -->
<script type="text/template" id="fruum-template-interactions-edit-thread">
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-messages')() %>
  <input type="hidden" data-field="parent" value="<%- editing.parent || viewing.id %>" />
  <input type="hidden" data-field="type" value="thread" class="fruum-js-interacting" />
  <form action="" class="fruum-interactions-form">
    <div class="fruum-stream-typography">
      <input
        class="fruum-interactions-input fruum-category-title"
        data-field="header"
        placeholder="thread topic..."
        value="<%- editing.header || '' %>"
        />
    </div>
    <div class="fruum-object-divider"></div>
    <div class="fruum-stream-typography">
      <div class="fruum-js-preview fruum-preview-container" style="display:none;"></div>
      <textarea
        autocomplete="off"
        class="fruum-interactions-input fruum-secondary-data"
        placeholder="it's about..."
        data-field="body"><%= editing.body || '' %></textarea>
    </div>
    <div class="fruum-interactions-footer">
      <div class="fruum-interactions-buttons fruum-interactions-group">
        <% if (editing.id) { %>
        <button class="fruum-main-button" data-action="post">update</button>
        <% } else { %>
        <button class="fruum-main-button" data-action="post">Add</button>
        <% } %>
        <a class="fruum-secondary-button fruum-link-negative" data-action="cancel">cancel</a>
      </div>
      <div class="fruum-user-account">
        <span
          class="fruum-helper-action"
          data-action="help"
        >?</span>
        <span class="fruum-helper-action fruum-icon fruum-icon-emoji"   data-action="emojipanel"></span>
        <span class="fruum-helper-action fruum-helper-text" data-action="preview">preview</span>
      </div>
    </div>
  </form>
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-help')() %>
</script>

<!-- Edit/Add article -->
<script type="text/template" id="fruum-template-interactions-edit-article">
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-messages')() %>
  <input type="hidden" data-field="parent" value="<%- editing.parent || viewing.id %>" />
  <input type="hidden" data-field="type" value="article" class="fruum-js-interacting" />
  <form action="" class="fruum-interactions-form">
    <div class="fruum-stream-typography">
      <input
        class="fruum-interactions-input fruum-category-title"
        data-field="header"
        placeholder="article title..."
        value="<%- editing.header || '' %>"
        />
    </div>
    <div class="fruum-object-divider"></div>
    <div class="fruum-stream-typography">
      <div class="fruum-js-preview fruum-preview-container" style="display:none;"></div>
      <textarea
        autocomplete="off"
        class="fruum-interactions-input fruum-secondary-data"
        placeholder="it's about..."
        data-field="body"><%= editing.body || '' %></textarea>
    </div>
    <div class="fruum-interactions-footer">
      <div class="fruum-interactions-buttons fruum-interactions-group">
        <% if (editing.id) { %>
        <button class="fruum-secondary-button" data-action="post">Edit</button>
        <% } else { %>
        <button class="fruum-secondary-button" data-action="post">Add</button>
        <% } %>
        <input id="fruum-is-blog" type="checkbox" class="fruum-interactions-checkbox" data-field="is_blog"
        <% if (editing.is_blog) { %>checked="checked"<% } %>
        />
        <label for="fruum-is-blog" class="fruum-interactions-label">as blog article</label>
        <a class="fruum-secondary-button fruum-link-negative" data-action="cancel">cancel</a>
      </div>
      <div class="fruum-user-account">
        <span
          class="fruum-helper-action"
          data-action="help"
        >?</span>
        <span class="fruum-helper-action fruum-icon fruum-icon-emoji"   data-action="emojipanel"></span>
        <span class="fruum-helper-action fruum-helper-text" data-action="preview">preview</span>
      </div>
    </div>
  </form>
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-help')() %>
</script>

<!-- Edit/Add channel -->
<script type="text/template" id="fruum-template-interactions-edit-channel">
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-messages')() %>
  <input type="hidden" data-field="parent" value="<%- editing.parent || viewing.id %>" />
  <input type="hidden" data-field="type" value="channel" class="fruum-js-interacting" />
  <form action="" class="fruum-interactions-form">
    <div class="fruum-stream-typography">
      <input
        autocomplete="off" class="fruum-interactions-input"
        data-field="header"
        placeholder="channel name..."
        value="<%- editing.header || '' %>"
        />
    </div>
    <div class="fruum-interactions-footer">
      <div class="fruum-interactions-buttons fruum-interactions-group">
        <% if (editing.id) { %>
        <button class="fruum-main-button" data-action="post">update</button>
        <% } else { %>
        <button class="fruum-main-button" data-action="post">Add</button>
        <% } %>
        <a class="fruum-secondary-button fruum-link-negative" data-action="cancel">cancel</a>
      </div>
      <div class="fruum-user-account">
        <span
          class="fruum-helper-action"
          data-action="help"
        >?</span>
      </div>
    </div>
  </form>
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-help')() %>
</script>

<!-- Add channel post -->
<script type="text/template" id="fruum-template-interactions-view-channel">
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-messages')() %>
  <input type="hidden" data-field="parent" value="<%- editing.parent || viewing.id %>" />
  <form action="" class="fruum-interactions-form">
    <% if (viewing.locked) { %>
    <span class="fruum-helptext fruum-icon fruum-icon-locked">
      Chat locked. You cannot participate in this chat.
    </span>
    <% } else { %>
    <input type="hidden" data-field="type" value="post" class="fruum-js-interacting" />
    <div class="fruum-stream-typography">
      <textarea
        autocomplete="off" class="fruum-interactions-input fruum-interactions-compact fruum-js-channel-input"
        placeholder="you say..." data-field="body" rows="1"></textarea>
    </div>
    <div class="fruum-interactions-footer">
      <div class="fruum-interactions-buttons">
        <span class="fruum-secondary-data">press <b>Enter</b> to reply</span>
      </div>
      <div class="fruum-user-account">
        <span
          class="fruum-helper-action"
          data-action="help"
        >?</span>
        <span class="fruum-helper-action fruum-icon fruum-icon-emoji" data-action="emojipanel"></span>
      </div>
    </div>
    <% } %>
  </form>
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-help')() %>
</script>

<!-- Add thread post -->
<script type="text/template" id="fruum-template-interactions-edit-post">
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-messages')() %>
  <input type="hidden" data-field="parent" value="<%- editing.parent || viewing.id %>" />
  <form action="" class="fruum-interactions-form">
    <% if (viewing.locked) { %>
      <span class="fruum-helptext">
        Thread is locked, you cannot post.
      </span>
    <% } else { %>
    <input type="hidden" data-field="type" value="post" class="fruum-js-interacting" />
    <div class="fruum-stream-typography">
      <textarea
        autocomplete="off" class="fruum-interactions-input"
        placeholder="you say..." data-field="body"><%= editing.body || '' %></textarea>
      <div class="fruum-js-preview fruum-preview-container" style="display:none;"></div>
    </div>
    <div class="fruum-interactions-footer">
      <div class="fruum-interactions-buttons">
        <% if (editing.id) { %>
        <button class="fruum-main-button" data-action="post">edit</button>
        <% } else { %>
        <button class="fruum-main-button" data-action="post">reply</button>
        <% } %>
        <a class="fruum-secondary-button fruum-link-negative" data-action="cancel">cancel</a>
      </div>
      <div class="fruum-user-account">
        <span
          class="fruum-helper-action"
          data-action="help"
        >?</span>
        <span class="fruum-helper-action fruum-icon fruum-icon-emoji" data-action="emojipanel"></span>
        <span class="fruum-helper-action fruum-helper-text" data-action="preview">preview</span>
      </div>
    </div>
    <% } %>
  </form>
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-help')() %>
</script>

<!-- Viewing thread -->
<script type="text/template" id="fruum-template-interactions-view-thread">
  <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-messages')() %>
  <input type="hidden" data-field="parent" value="<%- editing.parent || viewing.id %>" />
  <form action="" class="fruum-interactions-form">
    <% if (viewing.locked) { %>
      <span class="fruum-helptext">
        Thread is locked, you cannot post.
      </span>
    <% } else { %>
    <div class="fruum-interactions-footer">
      <div class="fruum-interactions-buttons">
        <button class="fruum-main-button" data-action="add_post">reply</button>
      </div>
      <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-avatar')() %>
    </div>
    <% } %>
  </form>
</script>


<!-- Admin actions -->
<script type="text/template" id="fruum-template-interactions-admin">
  <input type="hidden" data-field="parent" value="<%- editing.parent || viewing.id %>" />
  <form action="" class="fruum-interactions-form">
    <div class="fruum-interactions-footer">
      <div class="fruum-interactions-buttons">

        <button class="fruum-main-button" data-action="add_category">Category</button>

        <button class="fruum-main-button" data-action="add_article">Article</button>

        <% if (viewing.allow_threads) { %>
        <button class="fruum-main-button" data-action="add_thread">Thread</button>
        <% } %>
        <% if (viewing.allow_channels) { %>
        <button class="fruum-main-button" data-action="add_channel">Channel</button>
        <% } %>

      </div>
      <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-avatar')() %>
    </div>
  </form>
</script>

<!-- User actions -->
<script type="text/template" id="fruum-template-interactions-user">
  <input type="hidden" data-field="parent" value="<%- editing.parent || viewing.id %>" />
  <form action="" class="fruum-interactions-form">
    <div class="fruum-interactions-footer">
      <div class="fruum-interactions-buttons">
        <% if (viewing.allow_threads) { %>
        <button class="fruum-main-button" data-action="add_thread">Thread</button>
        <% } %>
        <% if (viewing.allow_channels) { %>
        <button class="fruum-main-button" data-action="add_channel">Channel</button>
        <% } %>
      </div>
      <%= Fruum.libs.Marionette.TemplateCache.get('#fruum-template-interactions-avatar')() %>
    </div>
  </form>
</script>

<!-- Anonymous user -->
<script type="text/template" id="fruum-template-interactions-anonymous">
  <div class="fruum-interactions-footer">
    <div class="fruum-interactions-buttons">
      <% if (window.fruumSettings && window.fruumSettings.login) { %>
        <button class="fruum-main-button fruum-cta-button" onclick="<%- window.fruumSettings.login %>">login</button>
        <span class="fruum-secondary-data">and write your thought.</span>
      <% } else { %>
      <span class="fruum-secondary-data">
          You can view all public categories and threads.<br/>
          To post or reply, please login first.
      </span>
      <% } %>
    </div>
    <div class="fruum-user-account">
      <span class="fruum-account-settings" data-fruumtipsy-right="You are anonymous">
        <span class="fruum-avatar-icon" data-initials="M">;)</span>
      </span>
    </div>
  </div>
</script>
