<!-- Loading template -->
<script type="text/template" id="fruum-template-loading">
  <div class="fruum-loader"></div>
  <div class="fruum-base-object fruum-helper-object">
    <div class="fruum-avatar">
      <span class="fruum-avatar-icon">i</span>
    </div>
    <div class="fruum-object-main-data">
      <span class="fruum-category-title">
        Fetching latest forum categories and posts
      </span>
    </div>
    <div class="fruum-object-additional-data">
      <span class="fruum-secondary-data">
        communicating with the database to get latest updates
      </span>
    </div>
  </div>
</script>

<!-- Infinite scroller loading template -->
<script type="text/template" id="fruum-infinite-loader">
  <div class="fruum-messages fruum-messages-helper">
    fetching more messages
    <div class="fruum-loader"></div>
  </div>
</script>
