<div id="fruum">
  <div class="fruum-navigation-section fruum-js-navigation-section">
    <div class="fruum-nav-about">
      <a href="https://fruum.github.io/" target="_blank" class="fruum-about-link">powered by fruum</a>
      <span class="fruum-link fruum-nav-close fruum-icon fruum-icon-right fruum-js-panel-close"></span>
    </div>

    <div class="fruum-navigation-breadcrumb">
      <div class="fruum-js-region-breadcrumb"><!-- fruum-template-breadcrumb --></div>
      <div class="fruum-js-region-filters"><!-- fruum-template-filters --></div>
    </div>

    <div class="fruum-section-sticky fruum-section-empty">
      <div class="fruum-section-title fruum-object-manage-data"><!-- fruum-template-title --></div>
      <div class="fruum-header-message"><!-- fruum-template-header-message --></div>
    </div>
    <div class="fruum-section-filters fruum-js-region-counters"><!-- fruum-template-counters --></div>


    <div class="fruum-connection-messages">
      <div class="fruum-messages fruum-message-warning fruum-js-message-reconnecting" style="display: none;">
        Loading <span class="fruum-loader"></span>
      </div>
      <div class="fruum-messages fruum-message-error fruum-js-message-invalid-app" style="display: none;">
        Invalid application, please contact your administrator
      </div>
      <div class="fruum-messages fruum-message-warning fruum-js-message-restore" style="display: none;">
        Item deleted. <a href="javascript:;" class="fruum-js-restore-undo">undo</a>
      </div>
      <div class="fruum-messages fruum-message-warning fruum-js-message-report" style="display: none;">
        Post has been reported as inappropriate
      </div>
      <div class="fruum-messages fruum-message-warning fruum-js-message-view-error" style="display: none;">
        The item you are trying to view does not exist. Go <a href="javascript:;">home</a>.
      </div>
    </div>
  </div>
  <div class="fruum-content-section fruum-js-content-section nano">
    <!-- Category view with subcategories and threads -->
    <div class="fruum-objects-list nano-content" style="display: block;">
      <div class="fruum-subobject-list fruum-category-list" style="display: none;"><!-- fruum-template-category --></div>
      <div class="fruum-object-divider fruum-js-divider-category-article" style="display: none;"></div>
      <div class="fruum-subobject-list fruum-article-list" style="display: none;"><!-- fruum-template-article --></div>
      <div class="fruum-object-divider fruum-js-divider-article-thread" style="display: none;"></div>
      <div class="fruum-subobject-list fruum-thread-list" style="display: none;"><!-- fruum-template-thread --></div>
      <div class="fruum-object-divider fruum-js-divider-thread-channel" style="display: none;"></div>
      <div class="fruum-subobject-list fruum-channel-list" style="display: block;"><!-- fruum-template-channel --></div>
      <div class="fruum-subobject-list fruum-post-list" style="display: none;"><!-- fruum-template-post --></div>
      <div class="fruum-subobject-list fruum-search-list" style="display: none;"><!-- fruum-template-search --></div>
      <div class="fruum-subobject-list fruum-notification-list" style="display: none;"><!-- fruum-template-search --></div>
      <div class="fruum-subobject-list fruum-empty-list" style="display: none;"><!-- fruum-template-empty --></div>
    </div>
    <!-- loading state -->
    <div class="fruum-is-loading" style="display: none;"><!-- fruum-template-loading --></div>
  </div>

  <div class="fruum-interactions-section"><!-- fruum-template-interactions --></div>

  <div class="fruum-popup-data fruum-js-region-share" style="top: 80px; display: none;">
    <textarea readonly="readonly"></textarea>
    <div class="fruum-tutorial-messages"><b>copy selected text</b></div>
    <a href="#" class="fruum-link fruum-popup-close">close</a>
  </div>
</div>
