<!-- channel post template -->
<script type="text/template" id="fruum-template-post-channel">
  <div class="fruum-base-object<% if (user_id == previous_user_id) { %> fruum-base-object-compactup<% } %> fruum-js-entry-default">

    <% if (user_id == previous_user_id) { %>
    <div class="fruum-avatar"></div>
      <% if (created - previous_created > 60000) { %>
    <div class="fruum-object-additional-data">
      <span class="fruum-secondary-data">
        <%- Fruum.libs.moment(parseInt(created)).fromNow() %>
      </span>
    </div>
      <% } %>
    <% } else { %>
    <div class="fruum-avatar">
      <% if (Fruum.utils.isLink(user_avatar)) { %>
      <img src="<%= user_avatar %>" class="fruum-avatar-icon" width="56"/>
      <% } else { %>
      <span
        class="fruum-avatar-icon"
        data-initials="<%- Fruum.utils.getInitials(user_displayname) %>">
        <%- Fruum.utils.getInitials(user_displayname) %>
      </span>
      <% } %>
    </div>

    <div class="fruum-object-additional-data">
      <div class="fruum-primary-data">
        <%- user_displayname || user_username %>
      </div>
      <span class="fruum-secondary-data">
        <%- Fruum.libs.moment(parseInt(created)).fromNow() %>
      </span>
    </div>
    <% } %>

    <div class="fruum-object-main-data">
      <div class="fruum-stream-typography">
        <%= Fruum.utils.print(body) %>
      </div>
    </div>

  </div>
</script>

<!-- post template -->
<script type="text/template" id="fruum-template-post">
  <% if (child_index === 1) { %>
  <div class="fruum-object-divider"></div>
  <% } %>

  <div class="fruum-base-object fruum-js-entry-default">

    <div class="fruum-avatar">
      <% if (Fruum.utils.isLink(user_avatar)) { %>
      <img src="<%= user_avatar %>" class="fruum-avatar-icon" width="56"/>
      <% } else { %>
      <span
        class="fruum-avatar-icon"
        data-initials="<%- Fruum.utils.getInitials(user_displayname) %>">
        <%- Fruum.utils.getInitials(user_displayname) %>
      </span>
      <% } %>
    </div>

    <div class="fruum-object-additional-data<% if (Fruum.user.id == user_id && !Fruum.user.anonymous) { %> fruum-object-manage-data<% } %>">
      <div class="fruum-primary-data">
        <%- user_displayname || user_username %>
      </div>
      <span class="fruum-secondary-data">
        <%- Fruum.libs.moment(parseInt(created)).fromNow() %>
      </span>
      <% if (created != updated) { %>
      <span class="fruum-secondary-data">EDITED</span>
      <% } %>
    </div>

    <div class="fruum-object-main-data">
      <div class="fruum-stream-typography">
        <% if (inappropriate) { %>
          <span class="fruum-admin-message">Post removed by moderator</span>
        <% } else { %>
        <%= Fruum.utils.print(body) %>
        <% } %>
      </div>
    </div>

    <div class="fruum-item-actions">
      <% if (!Fruum.user.anonymous) { %>

        <% if (react_up.length && react_up.indexOf(Fruum.user.username) >= 0) { %>
      <a href="javascript:;" class="fruum-action-pill fruum-icon fruum-icon-thumbsup fruum-item-active" data-action="react" data-reaction="up" data-fruumtipsy-left="click to revoke"><%= Fruum.utils.printReaction(react_up.length) %></a>
        <% } else { %>
      <a href="javascript:;" class="fruum-action-pill fruum-icon fruum-icon-thumbsup" data-action="react" data-reaction="up"><%= Fruum.utils.printReaction(react_up.length) %></a>
        <% } %>

        <% if (react_down.length && react_down.indexOf(Fruum.user.username) >= 0) { %>
      <a href="javascript:;" class="fruum-action-pill fruum-icon fruum-icon-thumbsdown fruum-item-active" data-action="react" data-reaction="down" data-fruumtipsy-left="click to revoke"><%= Fruum.utils.printReaction(react_down.length) %></a>
        <% } else { %>
      <a href="javascript:;" class="fruum-action-pill fruum-icon fruum-icon-thumbsdown" data-action="react" data-reaction="down"><%= Fruum.utils.printReaction(react_down.length) %></a>
        <% } %>

      <% } else { %>
      <span class="fruum-action-pill fruum-icon fruum-icon-thumbsup" data-fruumtipsy-left="login to vote"><% if (react_up.length) print( react_up.length ) %></span>
      <span class="fruum-action-pill fruum-icon fruum-icon-thumbsdown" data-fruumtipsy-left="login to vote"><% if (react_down.length) print( react_down.length ) %></span>
      <% } %>
      <a href="javascript:;" class="fruum-icon fruum-icon-copy fruum-maintain-action" data-action="share" data-fruumtipsy-right="copy link"></a>
      <% if (!Fruum.user.anonymous && Fruum.user.id == user_id && !Fruum.user.admin) { %>
      <a href="javascript:;" class="fruum-icon fruum-icon-edit fruum-maintain-action" data-action="edit" data-fruumtipsy-right="Edit post"></a>
      <% } %>
      <% if (!Fruum.user.anonymous) { %>
        <% if (Fruum.user.id != user_id && !Fruum.user.admin) { %>
      <a href="javascript:;" class="fruum-icon fruum-icon-flag fruum-maintain-action" data-action="report" data-fruumtipsy-right="Report this"></a>
        <% } %>
        <% if (Fruum.user.admin) { %>
      <div class="fruum-maintain-block fruum-js-more-source">
        <a href="javascript:;" class="fruum-icon fruum-icon-more fruum-maintain-action" data-fruumtipsy-right="More post options"></a>
      </div>
      <div class="fruum-maintain-block fruum-nodisplay fruum-js-more-target">
      <% if (Fruum.user.id == user_id) { %>
        <a href="javascript:;" class="fruum-icon fruum-icon-edit fruum-maintain-action" data-action="edit" data-fruumtipsy-right="Edit post"></a>
      <% } %>
        <a href="javascript:;" class="fruum-icon fruum-icon-delete fruum-maintain-action" data-action="delete" data-fruumtipsy-right="Delete post"></a>
        <a href="javascript:;" class="fruum-icon <% if (inappropriate) { print('fruum-icon-flagdown') } else { print('fruum-icon-flag'); } %> fruum-maintain-action"
          data-action="inappropriate"
          data-fruumtipsy-right="<% if (inappropriate) { print('Show post message') } else { print('Hide post message'); } %>"></a>
      </div>
        <% } %>
      <% } %>
    </div>

  </div>
</script>

<!-- post first entry template -->
<script type="text/template" id="fruum-template-post-master">
  <div class="fruum-base-object fruum-js-entry-default">

    <% if (viewing.id == id && viewing.type == 'article' && !viewing.is_blog) { %>
    <% } else if (user_id) { %>
    <div class="fruum-object-additional-data fruum-object-manage-data">

      <div class="fruum-primary-data">
        <%- user_displayname || user_username %>
      </div>
      <span class="fruum-secondary-data">
        <%- Fruum.libs.moment(parseInt(created)).fromNow() %>
      </span>
      <% if (created != updated && viewing.id != id) { %>
      <span class="fruum-secondary-data">EDITED</span>
      <% } %>

      <div class="fruum-avatar">
        <% if (Fruum.utils.isLink(user_avatar)) { %>
        <img src="<%= user_avatar %>" class="fruum-avatar-icon" width="56"/>
        <% } else { %>
        <span
          class="fruum-avatar-icon"
          data-initials="<%- Fruum.utils.getInitials(user_displayname) %>">
          <%- Fruum.utils.getInitials(user_displayname) %>
        </span>
        <% } %>
      </div>

    </div>
    <% } %>


    <div class="fruum-object-main-data">
      <div class="fruum-stream-typography">
        <% if (inappropriate) { %>
          <span class="fruum-admin-message">Post removed by moderator</span>
        <% } else { %>
        <%= Fruum.utils.print(body) %>
        <% } %>
      </div>
    </div>

    <div class="fruum-item-actions">
      <% if (!Fruum.user.anonymous) { %>

        <% if (react_up.length && react_up.indexOf(Fruum.user.username) >= 0) { %>
      <a href="javascript:;" class="fruum-action-pill fruum-icon fruum-icon-thumbsup fruum-item-active" data-action="react" data-reaction="up" data-fruumtipsy-left="click to revoke"><%= Fruum.utils.printReaction(react_up.length) %></a>
        <% } else { %>
      <a href="javascript:;" class="fruum-action-pill fruum-icon fruum-icon-thumbsup" data-action="react" data-reaction="up"><%= Fruum.utils.printReaction(react_up.length) %></a>
        <% } %>

        <% if (react_down.length && react_down.indexOf(Fruum.user.username) >= 0) { %>
      <a href="javascript:;" class="fruum-action-pill fruum-icon fruum-icon-thumbsdown fruum-item-active" data-action="react" data-reaction="down" data-fruumtipsy-left="click to revoke"><%= Fruum.utils.printReaction(react_down.length) %></a>
        <% } else { %>
      <a href="javascript:;" class="fruum-action-pill fruum-icon fruum-icon-thumbsdown" data-action="react" data-reaction="down"><%= Fruum.utils.printReaction(react_down.length) %></a>
        <% } %>

      <% } else { %>
      <span class="fruum-action-pill fruum-icon fruum-icon-thumbsup" data-fruumtipsy-left="login to vote"><%= Fruum.utils.printReaction(react_up.length) %></span>
      <span class="fruum-action-pill fruum-icon fruum-icon-thumbsdown" data-fruumtipsy-left="login to vote"><%= Fruum.utils.printReaction(react_down.length) %></span>
      <% } %>
      <a href="javascript:;" class="fruum-icon fruum-icon-copy fruum-maintain-action" data-action="share" data-fruumtipsy-right="copy link"></a>
      <% if (!Fruum.user.anonymous && Fruum.user.id == user_id && !Fruum.user.admin) { %>
      <a href="javascript:;" class="fruum-icon fruum-icon-edit fruum-maintain-action" data-action="edit" data-fruumtipsy-right="Edit post"></a>
      <% } %>
      <% if (!Fruum.user.anonymous) { %>
        <% if (Fruum.user.id != user_id  && !Fruum.user.admin) { %>
      <a href="javascript:;" class="fruum-icon fruum-icon-flag fruum-maintain-action" data-action="report" data-fruumtipsy-right="Report this"></a>
        <% } %>
        <% if (Fruum.user.admin) { %>
      <div class="fruum-maintain-block fruum-js-more-source">
        <a href="javascript:;" class="fruum-icon fruum-icon-more fruum-maintain-action" data-fruumtipsy-right="More post options"></a>
      </div>
      <div class="fruum-maintain-block fruum-nodisplay fruum-js-more-target">
      <% if (Fruum.user.id == user_id) { %>
        <a href="javascript:;" class="fruum-icon fruum-icon-edit fruum-maintain-action" data-action="edit" data-fruumtipsy-right="Edit post"></a>
      <% } %>
        <a href="javascript:;" class="fruum-icon fruum-icon-delete fruum-maintain-action" data-action="delete" data-fruumtipsy-right="Delete post"></a>
        <a href="javascript:;" class="fruum-icon <% if (inappropriate) { print('fruum-icon-flagdown') } else { print('fruum-icon-flag'); } %> fruum-maintain-action"
            data-action="inappropriate"
            data-fruumtipsy-right="<% if (inappropriate) { print('Show post message') } else { print('Hide post message'); } %>"></a>
      </div>
        <% } %>
      <% } %>
    </div>

  </div>
</script>

<!-- ***************************** EMPTY VIEWS ***************************** -->

<!-- Empty thread -->
<script type="text/template" id="fruum-template-post-empty-thread">
  <div class="fruum-base-object fruum-helper-object">
    <div class="fruum-avatar">
      <span class="fruum-avatar-icon">AWK</span>
    </div>

    <div class="fruum-object-additional-data">
      <div class="fruum-primary-data">
        Awkwardness bot
      </div>
      <span class="fruum-secondary-data">
        right now
      </span>
    </div>

    <div class="fruum-object-main-data">
      <div class="fruum-stream-typography">
        <% if (viewing.allow_threads || Fruum.user.admin) { %>
        No posts here! But you came for a reason right?<br>
        Add your message to kickstart the communication!
        <% } else { %>
          This is really awkward!! Someone forgot to add an actual message!!<br>
          Please visit later for any updates.
        <% } %>
      </div>
    </div>
  </div>
</script>

<!-- Empty article -->
<script type="text/template" id="fruum-template-post-empty-article">
  <div class="fruum-base-object fruum-helper-object">
    <div class="fruum-avatar">
      <span class="fruum-avatar-icon">LIB</span>
    </div>

    <div class="fruum-object-additional-data">
      <div class="fruum-primary-data">
        Librarian bot
      </div>
      <span class="fruum-secondary-data">
        right now
      </span>
    </div>

    <div class="fruum-object-main-data">
      <div class="fruum-stream-typography">
        Lets shed some light to this world!
      </div>
    </div>
  </div>
</script>

<!-- Empty channel -->
<script type="text/template" id="fruum-template-post-empty-channel">
  <div class="fruum-base-object fruum-helper-object">
    <div class="fruum-avatar">
      <span class="fruum-avatar-icon">:)</span>
    </div>

    <div class="fruum-object-additional-data">
      <div class="fruum-primary-data">
        Lonely bot
      </div>
      <span class="fruum-secondary-data">
        right now
      </span>
    </div>

    <div class="fruum-object-main-data">
      <div class="fruum-stream-typography">
        <% if (viewing.allow_channels || Fruum.user.admin) { %>
        <% var msg = Math.ceil(Math.random()*5); %>
        <% if (msg == 1) { %>
          Hey <%- Fruum.user.displayname %>,welcome! Seems that we're the only ones here!<br>
          Type your message or let's wait for another one to come.
        <% } %>
        <% if (msg == 2) { %>
          Hi there <%- Fruum.user.displayname %>! Nobody in here at the moment.<br>
          Visit again later or start messaging out!
        <% } %>
        <% if (msg == 3) { %>
          We are just the two of us here <%- Fruum.user.displayname %>.<br>
          How about start sharing your thoughts? I'm sure more will join!
        <% } %>
        <% if (msg == 4) { %>
          This channel is at it's start! What is missing is a sparkle!<br>
          Type your message and pass the sparkle!
        <% } %>
        <% if (msg == 5) { %>
          Welcome <%- Fruum.user.displayname %>! Noone has shared his thoughts on this channel yet!
          Be the first to write a few words and give life to this communication stream!
        <% } %>
        <% } else { %>
          Hello, channel is empty right now! You can visit again later.
        <% } %>
      </div>
    </div>
  </div>
</script>

<!-- failsafe empty area -->
<script type="text/template" id="fruum-template-post-empty-default">
  <div class="fruum-base-object fruum-helper-object"></div>
</script>

<!-- failsafe category area -->
<script type="text/template" id="fruum-template-post-empty-category">
  <div class="fruum-base-object fruum-helper-object"></div>
</script>
