<!-- title template -->
<script type="text/template" id="fruum-template-title">
<% if (!searching && !has_notifications) { %>
  <% if (viewing.type === 'channel' || viewing.type === 'thread' || viewing.type === 'article') { %>
  <div>
    <div class="fruum-stream-typography">
      <h4>
        <% if (!viewing.visible) { %>
          <span class="fruum-icon fruum-icon-invisible" data-fruumtipsy-center="Private"></span>
        <% } %>
        <% if (viewing.locked) { %>
          <span class="fruum-icon fruum-icon-locked" data-fruumtipsy-center="Locked"></span>
        <% } %>
        <% if (viewing.type == 'channel') print('#'); %><%= Fruum.utils.printHeader(viewing.header) %>
      </h4>
    </div>
    <% if (Fruum.user.admin && (viewing.type === 'thread' || viewing.type === 'article')) { %>
    <div class="fruum-manage">
      <a href="javascript:;" class="fruum-link fruum-manage-close fruum-icon fruum-icon-close"></a>

      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit <%- viewing.type %>"></a>

      <% if (viewing.visible) { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-invisible" data-action="visible" data-fruumtipsy-right="Turn private"></a>
      <% } else { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-visible" data-action="visible" data-fruumtipsy-right="Turn public"></a>
      <% } %>

      <% if (viewing.locked)  { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-unlocked" data-action="locked" data-fruumtipsy-right="Unlock posting"></a>
      <% } else { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-locked" data-action="locked" data-fruumtipsy-right="Lock posting"></a>
      <% } %>
      <a href="javascript:;" class="fruum-link fruum-link-negative fruum-icon fruum-icon-delete" data-action="delete" data-fruumtipsy-right="Delete <%- viewing.type %>"></a>
    </div>
    <% } else if (Fruum.user.admin && viewing.type === 'channel') { %>
    <div class="fruum-manage">
      <a href="javascript:;" class="fruum-link fruum-manage-close fruum-icon fruum-icon-close"></a>

      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit channel"></a>

        <% if (viewing.visible) { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-invisible" data-action="visible" data-fruumtipsy-right="Turn private"></a>
        <% } else { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-visible" data-action="visible" data-fruumtipsy-right="Turn public"></a>
        <% } %>

      <a href="javascript:;" class="fruum-link fruum-link-negative fruum-icon fruum-icon-delete" data-action="delete" data-fruumtipsy-right="Delete channel"></a>
    </div>
    <% } %>
  </div>
  <% } %>
<% } else if (has_notifications) { %>
  <div class="fruum-stream-typography">
    <h4>Updates on topics I watch</h4>
  </div>
<% } %>
</script>
