  <!-- title template -->
<script type="text/template" id="fruum-template-title">
<% if (!searching && !has_notifications) { %>
  <% if (viewing.id) { %>
  <div>
    <div class="fruum-stream-typography">
      <h4>
        <% if (!viewing.visible) { %>
          <span class="fruum-icon fruum-icon-invisible" data-fruumtipsy-center="Private"></span>
        <% } %>
        <% if (viewing.locked) { %>
          <span class="fruum-icon fruum-icon-locked" data-fruumtipsy-center="Locked"></span>
        <% } %>
        <% if (viewing.type == 'bookmark') print('<i>'); %>
        <% if (viewing.type == 'channel') print('#'); %><%= Fruum.utils.printHeader(viewing.header) %>
        <% if (viewing.type == 'bookmark') print('</i>'); %>
        <% if (viewing.type == 'category') { %>
          <span class="fruum-secondary-data">
            <%- ((viewing.body || '').split('\n')[0]) || 'View thoughts and ideas in category, and share your own' %>
          </span>
        <% } else if (viewing.type == 'bookmark') { %>
          <span class="fruum-secondary-data">
            <i>Stored search on: <b><%- viewing.body %></b>.</i>
          </span>
        <% } %>
        <% if (_.contains(['article', 'blog', 'thread'], viewing.type)) { %>
          <div class="fruum-tags-container">
            <% _.each(viewing.tags, function(tag) { %><a href="javascript:;" class="fruum-tag" data-initials="<%- tag.toUpperCase().charAt(0) %>" data-search-shortcut="#<%- tag %>"><%- tag %></a><% }); %>
          </div>
        <% } %>
      </h4>
    </div>
    <% if (Fruum.user.admin) { %>
      <% if (_.contains(['article', 'blog', 'thread'], viewing.type)) { %>
    <div class="fruum-manage fruum-js-manage">
      <a href="javascript:;" class="fruum-link fruum-manage-close fruum-icon fruum-icon-close"></a>

      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit <%- viewing.type %>"></a>

        <% if (viewing.visible) { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-invisible" data-action="visible" data-fruumtipsy-right="Turn private"></a>
        <% } else { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-visible" data-action="visible" data-fruumtipsy-right="Turn public"></a>
        <% } %>

        <% if (viewing.locked)  { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-unlocked" data-action="locked" data-fruumtipsy-right="Unlock posting"></a>
        <% } else { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-locked" data-action="locked" data-fruumtipsy-right="Lock posting"></a>
        <% } %>
      <a href="javascript:;" class="fruum-link fruum-link-negative fruum-icon fruum-icon-delete" data-action="delete" data-fruumtipsy-right="Delete <%- viewing.type %>"></a>
    </div>
      <% } else if (viewing.type === 'channel') { %>
    <div class="fruum-manage fruum-js-manage">
      <a href="javascript:;" class="fruum-link fruum-manage-close fruum-icon fruum-icon-close"></a>

      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit channel"></a>

        <% if (viewing.visible) { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-invisible" data-action="visible" data-fruumtipsy-right="Turn private"></a>
        <% } else { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-visible" data-action="visible" data-fruumtipsy-right="Turn public"></a>
        <% } %>

      <a href="javascript:;" class="fruum-link fruum-link-negative fruum-icon fruum-icon-delete" data-action="delete" data-fruumtipsy-right="Delete channel"></a>
    </div>
      <% } else if (viewing.type === 'bookmark') { %>
    <div class="fruum-manage fruum-js-manage">
      <a href="javascript:;" class="fruum-link fruum-manage-close fruum-icon fruum-icon-close"></a>

      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-left="Edit stored search"></a>

        <% if (viewing.visible) { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-invisible" data-action="visible" data-fruumtipsy-left="Turn private"></a>
        <% } else { %>
      <a href="javascript:;" class="fruum-link fruum-link-secondary fruum-icon fruum-icon-visible" data-action="visible" data-fruumtipsy-left="Turn public"></a>
        <% } %>

    </div>
      <% } else { %>
    <a href="javascript:;" class="fruum-manage fruum-link fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit category"></a>
      <% } %>
    <% } else if (!Fruum.user.anonymous && Fruum.user.id == viewing.user_id && _.contains(['channel', 'thread'], viewing.type)) { %>
    <a href="javascript:;" class="fruum-manage fruum-link fruum-icon fruum-icon-edit" data-action="edit" data-fruumtipsy-right="Edit <%- viewing.type %>"></a>
    <% } %>
  </div>
  <% } %>
<% } else if (has_notifications) { %>
  <div class="fruum-stream-typography">
    <h4>Updates on topics I watch</h4>
  </div>
<% } %>
</script>
