/*

  Interactions section

  Contents
  1. Generic
    1.1 Input placeholders and focus outlines reset
  2. Interaction states
  3. Interaction forms
    3.1 Custom inputs
    3.2 Checkbox
    3.3 Tags area
  4. User account section
  5. Interaction updates

*/



// 1. Generic

// 1.1 Input placeholdes and focus outlines reset

#fruum input::-webkit-input-placeholder,
#fruum textarea::-webkit-input-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum input:-moz-placeholder,
#fruum textarea:-moz-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum input::-moz-placeholder,
#fruum textarea::-moz-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum input:-ms-input-placeholder,
#fruum textarea:-ms-input-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum textarea::selection,
#fruum input::selection {
  color: $main-action-text-color;
  background: $main-action-color;
}
#fruum textarea::-moz-selection,
#fruum input::-moz-selection {
  color: $main-action-text-color;
  background: $main-action-color;
}

#fruum a:focus,
#fruum button:focus,
#fruum input:focus,
#fruum textarea:focus {
  outline: none;
}



// 2. Interaction states

$pointer-dimensions: basegrid-mod( 12px );

#fruum .fruum-interactions-section.fruum-interaction-unavailable:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fruum .fruum-interactions-section.fruum-interacting:before,
#fruum .fruum-interactions-section.fruum-interacting:after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: $pointer-dimensions solid $background-helper-base-color;
  border-left: $pointer-dimensions dashed transparent;
  border-right: $pointer-dimensions dashed transparent;
  top: -$pointer-dimensions;
  left: basegrid-mod( $avatar-big*1.2 );
  margin-left: -$pointer-dimensions/2;
}

#fruum .fruum-interactions-section.fruum-interacting:before {
  top: -$pointer-dimensions*1-1px;
  border-bottom-color: $dividers-colors;
}



// 3. Interaction forms

#fruum .fruum-interactions-form {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#fruum .fruum-preview-container,
#fruum input.fruum-interactions-input,
#fruum textarea.fruum-interactions-input {
  border: none !important;
  background-color: $background-base-color;
  color: $base-text-color;
  padding: 0;
  font-size: $small-stream-default-font;
  line-height: $small-stream-default-lineheight;
  width: 100%;
  min-height: $small-stream-default-lineheight;
}

#fruum .fruum-preview-container,
#fruum textarea.fruum-interactions-input {
  resize:none;
  overflow: auto;
}

#fruum textarea.fruum-interactions-input.fruum-interactions-compact {
  min-height: $small-stream-default-lineheight*1.5;
}

#fruum input.fruum-interactions-input.fruum-interactions-edit-avatar {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  font-size: inherit;
  line-height: inherit;
  border: none;
  text-align: center;
  text-transform: inherit;
}



#fruum .fruum-interactions-footer {
  //inherits font-size of base-grid
  width: 100%;
  .fruum-user-account {
    float: right;
    display: block;
  }
  .fruum-interactions-buttons {
    float: left;
    display: block;
    text-align: left;
    min-width: 55%;
    &:not(.fruum-interactions-group) > * {
      // has font-size of responsive-default-font
      margin-left: $default-font-basegrid;
      &:first-child {
        margin-left: 0;
      }
    }
    &.fruum-interactions-group > * {
      margin-left: $default-font-basegrid;
      &:first-child {
        margin-left: 0;
      }
    }
    .fruum-secondary-data:only-child {
      // font-size of small-font
      line-height: $small-font-basegrid*4;
    }
    .fruum-secondary-data.fruum-helptext {
      opacity: 0.45;
    }
    .fruum-right-action {
      float: right;
    }
    .fruum-separate-action {
      margin-left: $default-font-basegrid*3;
      &.fruum-secondary-data {
        margin-left: $small-font-basegrid*3;
      }
    }
  }
}



// 3.1 Custom inputs

#fruum .fruum-interactions-input.fruum-category-title,
#fruum .fruum-interactions-input.fruum-category-title {
  font-size: $small-stream-h4;
  line-height: $small-stream-h4-lineheight;
  font-weight: $small-stream-h4-weight;
  color: $base-text-color;
}



// 3.1 Checkboxes

#fruum .fruum-interactions-checkbox {
  display: none;
  & + .fruum-interactions-label {
    position: relative;
    font-size: $responsive-default-font;
    font-weight: $important-font-weight;
    color: $secondary-action-color;
    padding-left: 1.7em;
    cursor: pointer;
    cursor: hand;
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      margin-right: 0.3em;
      border: 0.2em solid $disabled-text-color;
      @include block-radius( 2px );
    }
    &:hover {
      color: $secondary-action-color-highlight;
      text-decoration: underline;
    }
  }
  &:checked + .fruum-interactions-label {
    color: $secondary-action-color-highlight;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0.3em;
      left: 0.3em;
      width: 0.7em;
      height: 0.7em;
      background-color: $secondary-action-color-highlight;
      @include block-radius( 2px );
    }

  }
}

// 3.3 Tags area

#fruum .fruum-interactions-customizations {
  //inherits font-size of base-grid
  position: relative;
  width: 100%;
  height: 3em;
  margin-bottom: 2em;
  line-height: 3em;
  & > .fruum-secondary-data {
    position: absolute;
    top: 0;
    left: 0;
    font-size: $responsive-tiny-font;
    line-height: inherit;
    width: $tiny-font-basegrid*5;
  }
  a {
    font-size: $responsive-small-font;
    line-height: inherit;
    &:not(:hover) {
      text-decoration: none;
    }
  }
  .fruum-customization-item {
    position: relative;
    float: left;
    width: 18em;
    &:not(:last-child) {
      padding-right: 1em;
      margin-right: 2em;
    }
    // style popup-data used inside customization item
    .fruum-popup-data {
      left: 31%;
      bottom: 3em; //same as line-height
    }
  }
}

#fruum .fruum-interactions-input.fruum-stream-tags {
  //inherits font-size of base-grid
  width: 100%;
  padding-left: $small-font-basegrid*5;
  font-size: $responsive-small-font;
  font-weight: $important-font-weight;
}



// 4. User account section

#fruum .fruum-user-account {
  position: relative;
  max-width: 63%;
  height: $avatar-medium;
  line-height: $avatar-medium;

  .fruum-account-settings {
    position: relative;
    display: block;
    max-width: 100%;
    text-align: right;
  }

  .fruum-badge {
    position: absolute;
    display: block;
    bottom: 1.2em;
    right: -2px;
  }

  .fruum-avatar-icon {
    display: inline-block;
    @include medium-avatar-block;
  }

}



// 5. Interaction updates

#fruum .fruum-interactions-stream-update {
  position: absolute;
  bottom: 100%;
  right: $tiny-font-basegrid;
  z-index: 1;
  margin-bottom: 1px;
  max-width: 100%;
  font-size: $responsive-tiny-font;
  font-weight: $important-font-weight;
  height: $tiny-font-basegrid*3;
  line-height: $tiny-font-basegrid*3;
  text-align: right;
  font-style: italic;
  padding: 0 $tiny-font-basegrid*2 0 $tiny-font-basegrid;
  background-color: rgba( $background-helper-base-color, 0.65 );
  color: $disabled-text-color;
  .fruum-mini-loader:before {
    line-height: 1.3em;
  }
}
