/*

  Interactions section

  Contents
  1. Generic
    1.1 Input placeholders and focus outlines reset
  2. Interaction states
  3. Interaction forms
    3.1 Custom inputs
  4. User account section

*/



// 1. Generic

// 1.1 Input placeholdes and focus outlines reset

#fruum input::-webkit-input-placeholder,
#fruum textarea::-webkit-input-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum input:-moz-placeholder,
#fruum textarea:-moz-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum input::-moz-placeholder,
#fruum textarea::-moz-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum input:-ms-input-placeholder,
#fruum textarea:-ms-input-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum textarea::selection,
#fruum input::selection {
  color: $main-action-text-color;
  background: $main-action-color;
}
#fruum textarea::-moz-selection,
#fruum input::-moz-selection {
  color: $main-action-text-color;
  background: $main-action-color;
}

#fruum a:focus,
#fruum button:focus,
#fruum input:focus,
#fruum textarea:focus {
  outline: none;
}



// 2. Interaction states

$pointer-dimensions: basegrid-mod( 12px );

#fruum .fruum-interactions-section.fruum-interaction-unavailable:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fruum .fruum-interactions-section.fruum-interacting:before,
#fruum .fruum-interactions-section.fruum-interacting:after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: $pointer-dimensions solid $background-helper-base-color;
  border-left: $pointer-dimensions dashed transparent;
  border-right: $pointer-dimensions dashed transparent;
  top: -$pointer-dimensions;
  left: basegrid-mod( $avatar-big*1.2 );
  margin-left: -$pointer-dimensions/2;
}

#fruum .fruum-interactions-section.fruum-interacting:before {
  top: -$pointer-dimensions*1-1px;
  border-bottom-color: $dividers-colors;
}



// 3. Interaction forms

#fruum .fruum-interactions-form {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#fruum input.fruum-interactions-input,
#fruum textarea.fruum-interactions-input {
  border: none !important;
  background-color: $background-base-color;
  padding: 0;
  font-size: $responsive-default-font;
  line-height: $big-font-basegrid*3;
  width: 100%;
  min-height: $big-font-basegrid*3;
}

#fruum textarea.fruum-interactions-input {
  resize:none;
  overflow: auto;
  min-height: $default-font-basegrid*17.5;
  color: $base-text-color;
}

#fruum textarea.fruum-interactions-input.fruum-interactions-compact {
  min-height:$default-font-basegrid*4.5;

}

#fruum input.fruum-interactions-input.fruum-interactions-edit-avatar {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  font-size: inherit;
  line-height: inherit;
  border: none;
  text-align: center;
  text-transform: inherit;
}

#fruum .fruum-interactions-form {
  .fruum-object-main-data {
    .fruum-interactions-input.fruum-category-title {
      font-size: relative-ems( $responsive-big-font, $responsive-default-font );
    }
    .fruum-interactions-input.fruum-secondary-data {
      font-size: 1em;
    }
  }
}


#fruum .fruum-interactions-footer {
  //inherits font-size of base-grid
  width: 100%;
  .fruum-user-account {
    float: right;
    width: 12%;
    padding-left: 2em;
  }
  .fruum-interactions-buttons {
    float: left;
    width: 88%;
    text-align: left;
    &:not(.fruum-interactions-group) > *:not(:first-child) {
      // has font-size of responsive-default-font
      margin-left: $default-font-basegrid;
    }
    &.fruum-interactions-group > *:not(:first-child) {
      margin-left: $default-font-basegrid;
    }
  }
}



// 3.1 Custom inputs

#fruum .fruum-category-title,
#fruum .fruum-interactions-input.fruum-category-title,
#fruum .fruum-interactions-input.fruum-category-title {
  font-size: $responsive-big-font;
  line-height: $big-font-basegrid*3;
  color: $base-text-color;
  font-weight: $important-font-weight;
}

#fruum .fruum-interactions-input.fruum-topic-title,
#fruum .fruum-interactions-input.fruum-topic-title,
#fruum .fruum-topic-title {
  font-size: $responsive-big-font;
  line-height: $big-font-basegrid*3;
  color: $base-text-color;
  font-weight: $important-font-weight;
  outline: none;
}



// 4. User account section

#fruum .fruum-user-account {
  position: relative;
  max-width: 63%;
  height: $avatar-medium;
  line-height: $avatar-medium;

  .fruum-account-settings,
  .fruum-button-link {
    display: block;
    float: right;
  }
  .fruum-account-settings {
    position: relative;
    max-width: 63%;
  }

  .fruum-badge {
    position: absolute;
    display: block;
    bottom: 1.2em;
    right: -2px;
  }

  .fruum-avatar-icon {
    display: inline-block;
    @include medium-avatar-block;
  }

}
