/*

  Interactions section

  Contents
  1. Generic
    1.1 Input placeholders and focus outlines reset
  2. Interaction states
  3. Interaction forms
    3.1 Custom inputs
    3.2 Checkbox
  4. User account section

*/



// 1. Generic

// 1.1 Input placeholdes and focus outlines reset

#fruum input::-webkit-input-placeholder,
#fruum textarea::-webkit-input-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum input:-moz-placeholder,
#fruum textarea:-moz-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum input::-moz-placeholder,
#fruum textarea::-moz-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum input:-ms-input-placeholder,
#fruum textarea:-ms-input-placeholder {
  line-height: inherit !important;
  color: $muted-text-color !important;
}

#fruum textarea::selection,
#fruum input::selection {
  color: $main-action-text-color;
  background: $main-action-color;
}
#fruum textarea::-moz-selection,
#fruum input::-moz-selection {
  color: $main-action-text-color;
  background: $main-action-color;
}

#fruum a:focus,
#fruum button:focus,
#fruum input:focus,
#fruum textarea:focus {
  outline: none;
}



// 2. Interaction states

$pointer-dimensions: basegrid-mod( 12px );

#fruum .fruum-interactions-section.fruum-interaction-unavailable:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fruum .fruum-interactions-section.fruum-interacting:before,
#fruum .fruum-interactions-section.fruum-interacting:after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: $pointer-dimensions solid $background-helper-base-color;
  border-left: $pointer-dimensions dashed transparent;
  border-right: $pointer-dimensions dashed transparent;
  top: -$pointer-dimensions;
  left: basegrid-mod( $avatar-big*1.2 );
  margin-left: -$pointer-dimensions/2;
}

#fruum .fruum-interactions-section.fruum-interacting:before {
  top: -$pointer-dimensions*1-1px;
  border-bottom-color: $dividers-colors;
}



// 3. Interaction forms

#fruum .fruum-interactions-form {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#fruum input.fruum-interactions-input,
#fruum textarea.fruum-interactions-input {
  border: none !important;
  background-color: $background-base-color;
  color: $base-text-color;
  padding: 0;
  font-size: $small-stream-default-font;
  line-height: $small-stream-default-lineheight;
  width: 100%;
  min-height: $small-stream-default-lineheight;
}

#fruum textarea.fruum-interactions-input {
  resize:none;
  overflow: auto;
  min-height: $small-stream-default-lineheight*9.5;
}

#fruum textarea.fruum-interactions-input.fruum-interactions-compact {
  min-height: $small-stream-default-lineheight*1.5;

}

#fruum input.fruum-interactions-input.fruum-interactions-edit-avatar {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  font-size: inherit;
  line-height: inherit;
  border: none;
  text-align: center;
  text-transform: inherit;
}



#fruum .fruum-interactions-footer {
  //inherits font-size of base-grid
  width: 100%;
  .fruum-user-account {
    float: right;
    width: 20%;
  }
  .fruum-interactions-buttons {
    float: left;
    width: 80%;
    text-align: left;
    &:not(.fruum-interactions-group) > *:not(:first-child) {
      // has font-size of responsive-default-font
      margin-left: $default-font-basegrid;
    }
    &.fruum-interactions-group > *:not(:first-child) {
      margin-left: $default-font-basegrid;
    }
    .fruum-secondary-data:only-child {
      // font-size of small-font
      line-height: $small-font-basegrid*4;
    }
  }
  // this covers the case that there is an interaction open
  &:not(:only-child) {
    margin-top: $base-grid;
  }
}



// 3.1 Custom inputs

#fruum .fruum-interactions-input.fruum-category-title,
#fruum .fruum-interactions-input.fruum-category-title {
  font-size: $small-stream-h4;
  line-height: $small-stream-h4-lineheight;
  font-weight: $small-stream-h4-weight;
  color: $base-text-color;
}



// 3.1 Checkboxes

#fruum .fruum-interactions-checkbox {
  display: none;
  & + .fruum-interactions-label {
    position: relative;
    font-size: $responsive-default-font;
    font-weight: $important-font-weight;
    color: $secondary-action-color;
    padding-left: 1.7em;
    cursor: pointer;
    cursor: hand;
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      margin-right: 0.3em;
      border: 0.2em solid $disabled-text-color;
      @include block-radius( 2px );
    }
    &:hover {
      color: $secondary-action-color-highlight;
      text-decoration: underline;
    }
  }
  &:checked + .fruum-interactions-label {
    color: $secondary-action-color-highlight;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0.3em;
      left: 0.3em;
      width: 0.7em;
      height: 0.7em;
      background-color: $secondary-action-color-highlight;
      @include block-radius( 2px );
    }

  }
}



// 4. User account section

#fruum .fruum-user-account {
  position: relative;
  max-width: 63%;
  height: $avatar-medium;
  line-height: $avatar-medium;

  .fruum-account-settings {
    position: relative;
    display: block;
    max-width: 100%;
    text-align: right;
  }

  .fruum-badge {
    position: absolute;
    display: block;
    bottom: 1.2em;
    right: -2px;
  }

  .fruum-avatar-icon {
    display: inline-block;
    @include medium-avatar-block;
  }

}
