/*

  Stream styling

  Contents

  1. Basic texts formatting
  2. Stream system messages

*/



// 1. Basic texts formatting

#fruum .fruum-stream-typography {
  // set object values so that it leaves no whitespaces around it
  margin: 0;
  padding: 0;
  font-size: $small-stream-default-font;
  line-height: $small-stream-default-lineheight;



  // force any elements included max width
  // so that they do not extend beyond by mistake
  * {
    max-width: 100% !important;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }

  // remove last child bottom margin if it exists

  > *:last-child {
    margin-bottom: 0;
  }

  h1 {
    font-size: $small-stream-h1;
    font-weight: $small-stream-h1-weight;
    line-height: $small-stream-h1-lineheight;
    color: $important-text-color;
    margin: 1em 0 relative-ems( $small-stream-lineheight, $small-stream-h1);
  }

  h2 {
    font-size: $small-stream-h2;
    font-weight: $small-stream-h2-weight;
    line-height: $small-stream-h2-lineheight;
    color: $important-text-color;
    margin: 1em 0 relative-ems( $small-stream-lineheight, $small-stream-h2 )/2;
  }

  h3 {
    font-size: $small-stream-h3;
    font-weight: $small-stream-h3-weight;
    line-height: $small-stream-h3-lineheight;
    color: $important-text-color;
    margin: 1em 0  relative-ems( $small-stream-lineheight, $small-stream-h3)/2;
  }

  h4 {
    font-size: $small-stream-h4;
    font-weight: $small-stream-h4-weight;
    line-height: $small-stream-h4-lineheight;
    color: $base-text-color;
    margin: 1em 0 relative-ems( $small-stream-lineheight, $small-stream-h4)/2;
  }

  h5 {
    font-size: 1em;
    line-height: $small-stream-lineheight;
    color: $base-text-color;
    margin: 1em 0 0.5em;
  }

  h6 {
    font-size: 1em;
    line-height: $small-stream-lineheight;
    color: $disabled-text-color;
    margin: 1em 0 0.5em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }



  p {
    margin-bottom: $small-stream-lineheight;
  }

  a:not([class]) {
    color: $forum-base-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  em {
    font-style: italic;
  }

  b,
  strong {
    font-weight: $important-font-weight;
  }

  del {
    text-decoration: line-through;
  }

  pre,
  code {
    font-family: $system-fonts !important;
    line-height: $small-stream-lineheight;
    color: $important-text-color;
  }

  pre {
    display: block;
    max-width: 100%;
    background-color: darken( $background-helper-base-color, 6% );
    border: 1px solid $muted-text-color;
    @include block-radius(1px);
    padding: 0.5em;
    margin-top: $small-stream-lineheight;
    margin-bottom: $small-stream-lineheight;
    overflow: auto;
    white-space: pre;
    code {
      padding: 0;
      background-color: transparent;
    }
  }

  code {
    background-color: darken( $background-helper-base-color, 5% );
    padding: 4px 0.3em 2px;
    @include block-radius(2px);
    &:not(:first-child) {
      margin-top: -0.5*$small-stream-lineheight;
    }
  }

  ol,
  ul {
    position: relative;
    margin: 0 0 $small-stream-lineheight 1.5em;
    padding: 0 0 0 0.5em;
    list-style-position: outside;
    color: inherit;
    &:not(:first-child) {
      margin-top: -0.5*$small-stream-lineheight;
    }

    & > li {
      position: relative;
      max-width: 100%;
      margin: 0;
      padding: 0;
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }

  ol { list-style-type: decimal-leading-zero; padding-left: 2em; }
  ul { list-style-type: disc; }



  img {
    position: relative;
    display: block;
    margin: $small-stream-lineheight 0;
    max-width: 100%;
  }



  $table-borders: darken( $muted-text-color, 4% );
  $table-padding: 0.5em;
  table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: $small-stream-lineheight 0 $small-stream-lineheight*3/2;
    border: 1px solid $table-borders;

    thead {
      th {
        background-color: transparent;
        color: $important-text-color;
        font-weight: $important-font-weight;
        border-bottom: 1px solid $table-borders;
      }
    }

    tr{
      &:not(:first-child) {
        td {
          border-top: 1px solid $table-borders;
        }
      }
      &:nth-child(even) {
        td {
          background-color: darken( $background-helper-base-color, 2% );
        }
      }
      &:nth-child(odd) {
        td {
          background-color: lighten( $background-helper-base-color, 2% );
        }
      }
      &:hover {
        th,td {
          background-color: darken( $background-helper-base-color, 1%);
        }
      }
    }

    th,td {
      padding: $table-padding $table-padding;
      &:not(:last-child) {
        border-right: 1px solid $table-borders;
      }
    }
  }



  blockquote {
    position: relative;
    display: block;
    width: 100%;
    margin-top: $small-stream-lineheight;
    margin-bottom: $small-stream-lineheight;
    padding: 1em;
    border: 1px solid $muted-text-color;
    border-left: 4px solid $disabled-text-color;
    color: $disabled-text-color;
    @include block-radius( 2px );
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
    h1,h2,h3,h4,h5,h6 {
      color: inherit;
    }
    > blockquote:only-child {
      padding-left: 1em;
      top: -1em;
      margin-bottom: -2em;
      left: -1em;
      width: calc(100% + 2em);
      max-width: calc(100% + 2em) !important;
      border:none;
      border-left: 50px solid $disabled-text-color;
      @include block-radius( 0 );
      &:before {
        content: 'i';
        font-family: $system-fonts;
        display: block;
        position: absolute;
        left: -42px;
        top: 0.5em;
        color: rgba( $background-helper-base-color, 0.5 );
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        z-index: 1;
      }
    }
  }



  hr {
    width: 80%;
    margin-top: $small-stream-lineheight;
    margin-bottom: $small-stream-lineheight;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 0;
    border-top: 1px solid $muted-text-color;
  }



  object,
  iframe {
    width: 100%;
    min-height: basegrid-mod( 190px );
    margin: $small-stream-lineheight 0;
  }



  // magic for lonely emoji posts
  *:only-child [data-fruumemoji]:only-child:before {
    font-size: 250%;
  }
}



// 2. Stream system messages

#fruum .fruum-stream-typography {
  .fruum-admin-message {
    font-style: italic;
    color: $disabled-text-color;
  }
}
