/*

  Stream styling

  Contents

  1. Basic texts formatting
  2. Stream system messages

*/



// 1. Basic texts formatting

#fruum .fruum-stream-typography {

  font-size: $stream-default-font;
  line-height: $stream-default-lineheight;


  h1 {
    font-size: $stream-h1;
    font-weight: $stream-h1-weight;
    line-height: $stream-h1-lineheight;
    margin-bottom: relative-ems( $stream-lineheight, $stream-h1);
  }

  h2 {
    font-size: $stream-h2;
    font-weight: $stream-h2-weight;
    line-height: $stream-h2-lineheight;
    margin-bottom: relative-ems( $stream-lineheight, $stream-h2 )/2;
  }

  h3 {
    font-size: $stream-h3;
    font-weight: $stream-h3-weight;
    line-height: $stream-h3-lineheight;
    margin-bottom: relative-ems( $stream-lineheight, $stream-h3)/2;
  }

  h4 {
    font-size: $stream-h4;
    font-weight: $stream-h4-weight;
    line-height: $stream-h4-lineheight;
    margin-bottom: relative-ems( $stream-lineheight, $stream-h4)/2;
  }

  h5 {
    line-height: $stream-lineheight;
  }

  h6 {
    line-height: $stream-lineheight;
  }

  p {
    margin-bottom: $stream-lineheight;
  }


  pre {
    font-size: 90%;
    margin-top: $stream-lineheight;
    margin-bottom: $stream-lineheight;
  }

  code {
    &:not(:first-child) {
      margin-top: -0.5*$stream-lineheight;
    }
  }

  ol,
  ul {
    margin-bottom: $stream-lineheight;
    &:not(:first-child) {
      margin-top: -0.5*$stream-lineheight;
    }
  }



  table {
    margin: $stream-lineheight 0 $stream-lineheight*3/2;
  }


  hr,
  blockquote {
    margin-top: $stream-lineheight;
    margin-bottom: $stream-lineheight;
  }




  img,
  object,
  iframe {
    margin: $stream-lineheight 0;
  }
}
