/*

  Fruum messaging and system styling

  Contents

  1. Loader
    1.1 Loader mini
  2. Tipsy
  3. System messages
  4. Helper action
    4.1 Helper container
    4.2 Helptext
    4.3 Tutorial messages
    4.4 Options list
  5. Popup data
  6. Badges

*/



// 1. Loader
#fruum .fruum-loader {
  position: relative;
  display: inline-block;
  height: 10px;
  transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  overflow: hidden;
  animation: fruum-loader 1.4s linear infinite;
  -webkit-animation: fruum-loader 1.4s linear infinite;
  opacity: 0;
}

@keyframes fruum-loader {
    0% {width: 10px;opacity:0;}
  30% { width: 20px;opacity:1;}
  88% {width: 72px;opacity: 1;}
  92% {width: 72px;opacity: 1;}
  99.9% {width: 72px;opacity: 0.1;}
  100% {width:10px;opacity: 0;}
}

@-webkit-keyframes fruum-loader {
    0% {width: 10px;opacity:0;}
  30% { width: 20px;opacity:1;}
  88% {width: 72px;opacity: 1;}
  92% {width: 72px;opacity: 1;}
  99.9% {width: 72px;opacity: 0.1;}
  100% {width:10px;opacity: 0;}
}

#fruum .fruum-loader:before {
  content: '';
  position: absolute;
  display: block;
  top: 2px;
  left: -8px;
  width: 80px;
  height: 80px;
  border: 6px dotted $muted-text-color;
}

#fruum .fruum-loader:after {
  position: absolute;
  display: block;
  content: '';
  top: 1px;
  right: 0;
  width:8px;
  height: 8px;
  background-color: $forum-base-color;
  z-index: 1;
}

// 1.1 Loader mini
#fruum .fruum-mini-loader {
  position: relative;
  display: inline-block;
  height: 1em;
  font-size:1em;
  overflow: hidden;
  opacity: 0;
  color: inherit;
  animation: fruum-mini-loader 1s linear infinite;
  -webkit-animation: fruum-mini-loader 1s linear infinite;
  &:before {
    content: '...';
    position: relative;
    width: 2em;
    display: inline-block;
    color: inherit;
    font-size: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    bottom: 0.08em;
    width: 0.15em;
    height: 0.2em;
    background-color: $forum-base-color;
  }
}

@keyframes fruum-mini-loader {
    0% {width: 0;opacity:0;}
  30% { width: 0.4em;opacity:1;}
  88% {width: 1.4em;opacity: 1;}
  92% {width: 1.4em;opacity: 1;}
  99.9% {width: 1.4em;opacity: 0.1;}
  100% {width:0;opacity: 0;}
}

@-webkit-keyframes fruum-mini-loader {
  0% {width: 0;opacity:0;}
  30% { width: 0.4em;opacity:1;}
  88% {width: 1.4em;opacity: 1;}
  92% {width: 1.4em;opacity: 1;}
  99.9% {width: 1.4em;opacity: 0.1;}
  100% {width:0;opacity: 0;}
}



// 2. Tipsy
#fruum *[data-fruumtipsy],
#fruum *[data-fruumtipsy-left],
#fruum *[data-fruumtipsy-right],
#fruum *[data-fruumtipsy-center] {
  position: relative;
  &:hover:after {
    content: attr(data-fruumtipsy);
    display: block;
    z-index: 12;
    position: absolute;
    width: 108px;
    padding: basegrid-mod( 6px )/2 basegrid-mod( 6px );
    bottom: 100%;
    margin-bottom: 5px;
    font-size: $small-font;
    text-align: center;
    line-height: basegrid-mod( $small-font, 15px );
    background-color: #222;
    color: #ddd;
  }
}

#fruum *[data-fruumtipsy]:hover:after,
#fruum *[data-fruumtipsy-center]:hover:after {
  left: 50%;
  margin-left: -49px;
}

#fruum *[data-fruumtipsy-center]:hover:after { content: attr(data-fruumtipsy-center); }

#fruum *[data-fruumtipsy-right]:hover:after { content: attr(data-fruumtipsy-right);right: 50%; }
#fruum *[data-fruumtipsy-left]:hover:after { content: attr(data-fruumtipsy-left);left: 50%; }



// 3. System messages

#fruum .fruum-messages {
  $message-spacing: relative-ems( $base-grid, $responsive-small-font);
  $message-whitespacing: relative-ems( $fruum-whitespace, $responsive-small-font);
  width: 100%;
  font-size: $responsive-small-font;
  padding: $message-spacing $message-whitespacing;
  background-color: $background-base-color;
  color: $forum-message-text-color;

  border-top: 1px solid $disabled-text-color;
  border-bottom: 1px solid $disabled-text-color;
  .fruum-loader {
    color: inherit;
    line-height: 1em;
    height: 1em;
  }

  &.fruum-message-warning {
    background-color: $forum-warning-color;
  }

  &.fruum-message-error {
    color: $forum-message-text-color;
    background-color: $forum-error-color;
  }

  &.fruum-messages-helper {
    color: $muted-text-color;
    border-top: none;
    border-bottom: none;
    padding: $message-spacing $message-whitespacing/2;
  }
}



// 4. Helper action

#fruum .fruum-helper-action {
  // inherits font size of base-grid
  display: inline-block;
  float: right;
  color: $muted-text-color;
  border: 1px solid $muted-text-color;
  font-size: $responsive-bigger-font;
  @include block-object-action( $responsive-bigger-font );
  @include block-radius;
  cursor: pointer;
  cursor: hand;
  &:not(:last-child) {
    margin-left: $base-grid;
  }
}

#fruum .fruum-helper-action:hover {
  color: $disabled-text-color;
  border-color: $disabled-text-color;
}

// 4.1 Helper container
#fruum .fruum-helper-container {
  // inherits font size of base-grid
  $helper-container-basegrid: relative-ems( $base-grid, $responsive-small-font);
  position: absolute;
  width: 100%;
  z-index: 99;
  padding: $helper-container-basegrid $helper-container-basegrid*2 $helper-container-basegrid*4;
  bottom: 0;
  left: 0;
  border-top: 1px solid $disabled-text-color;
  background-color: $background-helper-base-color;
  color: $base-text-color;
  list-style-type: none;
  font-size: $responsive-small-font;
  line-height: $helper-container-basegrid*2;
  .fruum-helper-element {
    margin: $helper-container-basegrid/2 0;
  }
}

#fruum .fruum-helper-container .fruum-helper-shortcut {
  font-family: $system-fonts !important;
  display: inline-block;
  font-weight: bold;
  width: 100px;
  color: $base-text-color;
}

#fruum .fruum-helper-container .fruum-helper-close {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: relative-ems( $responsive-bigger-font, $responsive-small-font );
  width: 1em;
  height: 1em;
  cursor: pointer;
  cursor: hand;
}


// 4.2 Helptext
#fruum .fruum-helptext {
  // inherits font-size of base-grid
  color: $disabled-text-color;
  font-size: $responsive-big-font;
}

// 4.3 Tutorial messages

#fruum .fruum-tutorial-messages {
  // inherits font-size of base-grid
  display: block;
  color: $muted-text-color;
  font-size: $responsive-tiny-font;
  line-height: relative-ems( $base-grid*2, $responsive-tiny-font );
  width: 100%;
  text-align: left;
  &.fruum-tutorial-tip {
    text-align: right;
  }
}

// 4.4 Options list

#fruum .fruum-options-list {
  width: 100%;
  color: $forum-message-text-color;
  padding-top: 1em;
  &.fruum-options-twocolumns {
    .fruum-option-item {
      width: 48%;
      &:nth-child(odd) {float: left;}
      &:nth-child(even) {
        float: right;
        &:after {
          content: '';
          display: table;
          clear: both;
        }
      }
      &.fruum-option-empty {
        width: 100%;
        clear: both;
      }
    }
  }
  &.fruum-options-multicolumns {
    .fruum-option-item {
      float: left;
      width: auto;
      margin-right: 0.6em;
    }
  }
  &.fruum-options-selectable {
    .fruum-option-item:hover {
      @include block-radius(1px);
      background-color: $muted-text-color;
    }
  }
}

#fruum .fruum-option-item {
  display: block;
  margin-bottom: $small-font-basegrid;
  font-size: $responsive-small-font;
  font-weight: $complementary-font-weight;
  line-height: $small-font-basegrid*3;
  cursor: pointer;
  cursor: hand;
  height:$small-font-basegrid*3;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  &.fruum-option-selected,
  &:hover {
    font-weight: $important-font-weight;
  }
  &.fruum-option-empty {
    color: $muted-text-color;
    font-weight: $important-font-weight;
  }
}



// 5. Popup data

#fruum .fruum-popup-data {
  position: absolute;
  width: 95%;
  left: 2.5%;
  max-height: 80em;
  max-width: 750px;
  z-index: 13;
  @include block-radius( 1px );
  font-size: 1em; // reset to base-grid
  padding: 1em;
  box-shadow: 0 0 6px rgba( $base-text-color, 0.6 );
  background-color: $background-helper-base-color;
  &.fruum-popup-half {
    width: 47.5%;
  }
  &.fruum-popup-docked-bottomright {
    left: auto;
    right: $fruum-whitespace;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: $base-grid solid $background-helper-base-color;
      border-left: $base-grid dashed transparent;
      border-right: $base-grid dashed transparent;
      bottom: -1*$base-grid;
      right: $base-grid*3.5+1px;
    }
    &:before {
      border-top-color: rgba( $base-text-color, 0.2 );
      bottom: -1*$base-grid - 1px;
    }
  }
  input[type="text"],
  textarea {
    $popup-size: relative-ems( $base-grid, $responsive-tiny-font );
    background-color: transparent;
    color: $important-text-color;
    border: 1px solid $dividers-colors;
    width: 100%;
    font-size: $responsive-tiny-font;
    padding: $popup-size/2;
    min-height: $popup-size*2;
    @include block-radius( 1px );
  }
  textarea {
    resize: none;
  }
  .fruum-link.fruum-popup-close {
    $popup-close-basegrid: relative-ems( $base-grid, $responsive-small-font );
    position: absolute;
    color: $main-action-color;
    font-size: $responsive-small-font;
    line-height: $popup-close-basegrid*2;
    bottom: $popup-close-basegrid/2;
    right: $popup-close-basegrid;
  }
}



// 6. Badges

#fruum .fruum-badge {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  @include block-object-shapes;
  font-size: 8px;
  background-color: $main-action-color;
  color: $main-action-text-color;
  text-align: center;
  text-decoration: none !important;
  vertical-align: bottom;
  &.fruum-badge-info {
    color: $forum-message-text-color;
    background-color: $forum-warning-color;
  }
}
