@import '../client/style/variables';
@import '../client/style/mixins';

//__APPLICATION_CUSTOM_SASS__

#fruum-preview {
  position: fixed !important;
  z-index: 9999 !important;
  @if ( lightness( $background-helper-base-color) > 10 ) {
    background-color: darken( $background-helper-base-color, 0.03 ) !important;
  } @else {
    background-color: darken( $background-helper-base-color, 0.1 ) !important;
  }
  font-size: $base-grid-big !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  &.fruum-peak {
    width: 70px;
    box-shadow: 0 0 4px rgba( 0, 0, 0, 0.3 ) !important;
    overflow: hidden;
  }
  &.fruum-clicked {
    width: optimal-width() + $fruum-whitespace*2;
    max-width: 99%;
    box-shadow: 0 0 4px rgba( 0, 0, 0, 0.3 ) !important;
  }
  .fruum-nav-about {
    position: relative;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    height: relative-ems( 3em, $responsive-tiny-font );
    width: 100%;
    min-width: 250px;
    color: $disabled-text-color;
    font-size: $responsive-tiny-font;
    line-height: relative-ems( 3em, $responsive-tiny-font );
    background-color: $forum-header-color;
    padding-left: $tiny-font-basegrid*2;
  }

  &.fruum-fullpage {
    position: relative !important;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    -webkit-transition: none;
    transition: none;

    background-color: $background-helper-base-color;
    .fruum-nav-about {
      text-align: right;
      padding-right: relative-ems( $fruum-whitespace, $responsive-tiny-font );
    }

    .fruum-content {
      @if ( lightness($background-helper-base-color) > 10 ) {
        background-color: rgba( 0, 0, 0, 0.02 );
      } @else {
        background-color: rgba( 0, 0, 0, 0.1 );
      }
    }
  }

  .fruum-small-text {
    font-size: relative-ems( $default-font-basegrid, $responsive-small-font );
    line-height: basegrid-mod( relative-ems( $default-font-basegrid, $responsive-small-font ) );
  }

  // replicating navigation.scss classes for proper dimensions
  .fruum-header {
    background-color: $background-base-color;
    border-bottom: 1px solid $dividers-colors;

    font-size: $responsive-default-font;

    padding-top: $default-font-basegrid;
    padding-left: $default-font-basegrid*2;
    padding-right: $default-font-basegrid*2;
  }

  .fruum-nav-header {
    height: $default-font-basegrid*4;

    margin-bottom: $default-font-basegrid;
  }

  .fruum-nav-filters {
    height: $default-font-basegrid*2;

    margin-top: $default-font-basegrid/2;
    margin-bottom: $default-font-basegrid/2;
  }

  .fruum-nav-subtitle {
    margin-top: $default-font-basegrid*0.25;
  }

  // replicate footer/interactions sections for placeholder
  .fruum-interactions-footer {
    min-width: 230px;
    background-color: $background-base-color;
    border-top: 1px solid $dividers-colors;

    height: 6em;

    padding: 1em 2em;

    .fruum-avatar-placeholder {
      float: right;

      width: 4em;
      height: 4em;
    }
  }


  .fruum-content {
    min-width: 330px;
    font-size: $responsive-default-font;
    padding: $default-font-basegrid*2;
  }

  .fruum-content-item {
    display: block;
    width: 100%;
    overflow: hidden;

    clear: both;
    margin-bottom: $default-font-basegrid*2;
  }

  .fruum-item-text {
    float: left;
    display: block;

    margin-left: $default-font-basegrid*2;
  }

  // replicating avatar for placeholder use
  .fruum-avatar-placeholder {
    float: left;
    width: $default-font-basegrid*6.5;
    height: $default-font-basegrid*6.5;

    background-color: $dividers-colors;

    @include block-object-shapes;
  }

  .fruum-placeholder {
    display: inline-block;

    height: 1em;
    width: 100%;

    background-color: $dividers-colors;

    @include block-radius(0.5em);
  }
}
